version: 1
disable_existing_loggers: False

formatters:
  generic:
    format: "%(asctime)s - %(name)s - %(levelname)s - [%(filename)s:%(lineno)d] - %(message)s"
    datefmt: "%Y-%m-%d %H:%M:%S"
  
handlers:
  console:
    class: logging.StreamHandler
    formatter: generic

loggers:
  api:
    level: DEBUG
    handlers: [console]
    propagate: no

root:
  level: INFO
  handlers: [console]
